.ng-touched.ng-invalid{
    border: #ff0000 1px solid !important;
}

.red{
    color: red;
}

.blue{
    color: #00ccff;
}

.s16{
    font-size: 16px;
}
.s18{
    font-size: 18px;
}
.padtop10{
    padding-top: 10%;
}
.padtop5{
    padding-top: 5%;
}
.btn{
    background-color: #2eb82e;
}
.pad{
    padding-top: 150px;
}
.mess{
    font-size: 24px;
    text-align: center;
}