<div ng-show="activity" class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
    <div class="row quizpage">
        <div class="col-xs-12 col-sm-5 col-md-5">
            <h2 class="blue s28 tc">Benefits Of Activities</h2>
            <br>
            <p class="s18 well ht"> Apart from a Counsellor, Activities of any sort can help you improve yourself mentally.
                <br>
                <br>
                Even people who are shy, can now take part in various online Activities and Games.
                We have provided some of the Popular Online Platforms on the left side. Do try them sometimes. In order to access Activities
                 or games you might have to Create account in that particular Online Platform.
                <br>
                <br>
                Apart from online activities, physical activities like yoga and exercises are also beneficial, as they can boost your confidence.
            </p>
            <br>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-5 col-md-5">
            <h2 class="blue s28 tc">Some Online Platforms</h2>
            <br>
            <div class="s16 well ht">
                <br>
                <span class="s20">1. Facebook</span>
                <br>
                It is one of the most popular Social Media Platform providing us with the oppurtunity to mingle with different people.
                 Apart from that it allows us to take part in various online games and activities, and shows us nearby events in near future
                  <a href="" onclick="window.open('https://www.facebook.com/events');">Click here</a> to visit.
                <br>
                <br>
                <span class="s20">2. BookMyShow</span>
                <br>
                Here you can buy tickets for movies, shows and events occuring in India. 
                <a href="" onclick="window.open('https://bookmyshow.com/kolkata/events');">Click here</a> to visit.
                <br>
                <br>
                <span class="s20">3. Nearbuy</span>
                <br>
                Here you can buy tickets for nearby events for a offer price. Also here you get to know amazing nearby offers.
                <a href="" onclick="window.open('https://www.nearbuy.com/offers/kolkata');">Click here</a> to visit.
            </div>
        </div>
    </div>
</div>